[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "easyRasch2"]
	path = easyRasch2
	url = https://github.com/pgmj/easyrasch2
[submodule "easyRaschBayes"]
	path = easyRaschBayes
	url = https://github.com/pgmj/easyraschbayes
[submodule "leunbachR"]
	path = leunbachR
	url = https://github.com/pgmj/leunbachr
